<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lista Workshop JSON</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
</head>
<body>
<div style="display: inline-block;">
    <h1 style="display: inherit;margin: 50px 40px;">Lista de Workshops</h1>
    <a href="/"><button>Volver al home</button><a/>
</div>

<table id="id_workshops" class="display">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Autor</th>
        <th>Categoria</th>
        <th>Objetivo</th>
        <th>Palabras claves</th>
        <th>Tiempo de duracion</th>
    </tr>
    </thead>

</table>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="/js/datatableJSON.js"></script>
</body>
</html>
