<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categorías - TeCaSa</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div style="margin: 20px 70px;">
    <h2>Mantenimiento de categorías</h2>
    <h3>Usted se encuentra en el mantenimiento de categorias</h3>
    <div class="menu">
        <a href="/registrarCategoria"><button>Registrar categoria</button></a>
        <a href="/listarCategoria"]><button>Listar categoria</button></a>
    </div>
</div>
</body>
</html>
