<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
<title>Categorías</title>

</head>
<body>
<h2>
    Registrar categoría
</h2>
<div>
    <form action="#" th:action="@{/registrarCategoria}" th:object="${categoria}" method="post">
        <div style="margin: 30px 30px;">
            <label for="name">Nombre</label>
            <input type="text" th:field="*{name}" id="name" required="required">
        </div>
        <input style="margin: 10px 30px;" type="submit" value="Registrar categoría">
    </form>
</div>

<div style="margin: 20px 30px;">

    <a style="margin: 30px 10px;" th:href="@{'/listarCategoria'}"><button>Cancelar registro</button><a/>
    <a style="margin: 30px 10px;" th:href="'/'"><button>Volver al home</button><a/>

</div>

</body>
</html>
